.main-header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ef6b00;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .main-link {
    color: #fff;
    text-decoration: none;
  
    font-size: 16px;
    transition: color 0.3s ease; 
   font-size: 32px;
    gap: 10px;
}


  
  .main-link:hover {
    color: #ef6b00; 
    background-color: white;

  }
  