.welcome {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome h1 {
    font-size: 36px;
    color: #333;
  }
  
  .welcome h3 {
    font-size: 24px;
    color: #666;
    margin-top: 20px;
  }
  