.user-details-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: auto;
  margin: 40px auto;
}

.user-details-info {
  margin-top: 20px;
}

.user-details-info p {
  margin-bottom: 10px;
}

.user-details-info strong {
  font-weight: bold;
}

.user-details-photo {
  display: block;
  border-radius: 50%; 
  margin: 0 auto 20px; 
  max-width: 250px;
  max-height: 350px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #ffffff;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 
  .back-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    cursor: pointer;
    background-color: #ff9500;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
     
  }
  .back-button:hover {
    background-color:#db6e34
 
  }

  

